<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    test: same-site

    <iframe src="http://a.test1.com/samesite2"></iframe><br/>
    <div>
        测试1: 主窗口域名, 链接访问第三方域名

        <a href="http://a.test1.com/samesite/link?q=parent">测试连接-父级</a>
    </div>




</div>

</body>
</html>